## This is the template of how the test reports will be documented for this project.

| ID | Date  |  Priority | Description                                  | Steps     | Expected Results                                                | Status    |Comment                   |
| -- | --- | -------- |------------------------------------------------------------------------------------------ | ------ | --------------------------------- | --------- | ----------------------------------------------------------------------------------------------------------------- |
| 01/001 | 01/01/1970 | HIGH | check if frog is displayed | run the program | displays the frog | Passed | The function works perfectly |

**ID**<br>
The ID of the test case. It will follow a certain pattern: 
- The first numbers are the version of the tested product -> `01`/001<br>
- The last numbers are the number of the test -> 01/`001`

**Date**<br>
Set the date when the bug has been discovered.

**Priority**<br>
The priority level of the test case (High, Medium, Low)
- High: An issue about a major feature needs to be fixed as soon as possible.
- Medium: An issue about a feature that could be important needs to be fixed.
- Low: An issue about a non-required feature needs to be fixed.

**Description** <br>
A clear and concise description of what the test deals with.

**Steps**<br>
Conditions applied during testing, add some steps to reproduce the behavior:

1. Click on '....'
2. Go to '....'
3. See error

**Expected results**<br>
A clear and concise description of what you expected to happen.
For Unit tests, it would be preferable to use "Expected as", and then the result the developers expect.

**Status:**<br> 
The current status of the test case (Passed, Failed, In Progress, Not Implemented).

**Comment**<br>
Add any other context about the problem here (recommended, especially for 'Failed' status).

## You can go the [spreadsheet](https://docs.google.com/spreadsheets/d/1MwYGwoQ63a64xy0Dyt1VcTHsDguLzddWgrrDPDT4RYE/edit?usp=sharing) where the test reports will be documented.